<div class="container">
  <h1>My Tasks</h1>
  <ul class="border-gray">
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task_path(task) do %>
            <%= task.completed %> <%= task.title %> 
        <% end %>
        ·
        <%= link_to task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_task_path do %>
    <i class="fa fa-plus"></i> Add a new task
  <% end %>
</div>
